.textarea-block{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.textarea-input{
    width: 450px;
    height: 600px;
}

.buttons{
    display: flex;
    flex-direction: column;
}
.table-container {
    border: 1px solid black;
    border-radius: 5px;
}


.table {
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 0;
}

.none{
    display: none;
}

